<!DOCTYPE html>
<html ng-app='myApp'>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
  </head>
  <body>
    	
    <npr-link ng-model="program" player="player"></npr-link>
    
    
    
    <div class="large-4 small-4 columns" ng-controller="RelatedController">
      <h2>Related content</h2>
      <ul id="related">
        <li ng-repeat="s in related"><a href=""></a></li>
      </ul>
    </div>
  </body>
</html>